.container{
    
    min-height: 100vh; //add 100vh for desktop
    display: flex;
    justify-items: center;
    align-items: center;
}
.wtitle2{
    color:#73BC67;
}
.wtitle, .wsubtitle, .demobttn{
    text-align: center;
}

.demobttn{
    background-color: #73BC67;
    color: #ebebeb;
    border:0;
    border-radius:10px;
    padding: 8px 16px 8px 16px;
    margin:15px;
    font-size: 1.5rem;

}

p{
    text-align: center;
}

.wtitle{
    font-size: 3.5rem;
    
}

.welcome{
    margin:2rem;
    
}

.wcredit{
    grid-area:wcredit;
    display: block;
    position: absolute;
    bottom:0;
    font-weight: bold;

    a{
        background-color: #73BC67;
    }
}

.signupbox{
    
    box-shadow:0px 2px 5px 0px #888888;
    
    // border:1px solid #000;
    background-color: white;
    margin-left: auto;
    margin-right:3em;
    padding: 2rem 2rem;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    font-size:1.2rem;
    grid-area: signupbox;
    // max-width:30vh;

    .signupheader{
        padding:0;
        margin:0;
        // padding-top:1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
        
    }

    .signupform{
        position: center;
        
    }

    .authbttn{
        font-size: 0.75rem;
        text-align: center;
        color: #2d70af;
        
    }

    .submitbttn{
        display: block;
        text-align: center;

    }
    
}
.submitbttnstyle{
    background-color: #73BC67;
    color: #fff;
    border:0;
    border-radius:10px;
    padding:.5rem 1.2rem;
    margin:15px;
    font-weight: bold;
    
}
.winput{
    display:block;
    float:center;
    width:100%;
    margin: 0.5rem;
    height: 1.2rem;


}

body{
    background-color: #f5f5dc;
}

@media (max-width:768px){
    .container{
    
        min-height: 100vh; //add 100vh for desktop
        display: block;
    }
    .welcome{
        text-align: center;
    }

    .wtitle{
        text-align: center;
        font-weight: bold;

    }

    .signupbox{
        margin: 1rem 2rem;
        
    }
    
    .wcredit{
        display: block;
    }

}
