.textsender, .chattext{
    margin:.3rem;
    text-align: left;
}

.chatheader{
    width: 50vw;
    position: fixed;
    top:0;
    background-color: white;
    border-radius: 15px;
    text-align: left;
}

// form{
//     width: 100%;
//     position: fixed;
//     bottom:0;
//     margin-bottom: 5px;
    
// }

.chatinput{
    width: 100%;
    height:2rem;
}

.chatinputbox{
    width:55vw;
    line-height: 1.2rem;
}

// @media screen and (max-width:780px){
//     // form{
//     //     width: 100%;
//     //     // position: fixed;
//     //     // bottom:0;
//     //     margin-bottom: 5px;
        
//     // }
// }    