h2 {
  text-align: center;
  justify-content: center;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0.5em;
}

button {
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: block;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.wrapper-light {
  background-color: #f5f5dc;
}

.logotext2 {
  color: #73BC67;
}

.wrapper-dark {
  background-color: #0E1525;
}
.wrapper-dark .navbar {
  box-shadow: 0px 2px 5px 0px #000;
}
.wrapper-dark .msg {
  box-shadow: 0px 2px 5px 0px #000;
}
.wrapper-dark .scribbletext {
  color: #fff;
}

.tasks-dark, .board-dark, .prog-dark, .timer-dark, .scribble-dark {
  box-shadow: 0px 2px 5px 0px #888888;
  margin: 0.4em;
  border-radius: 11px;
  background-color: white;
  background-color: #1D2333;
  box-shadow: 0px 2px 5px 0px #000;
  color: #fff;
}
.tasks-dark .eachtask, .board-dark .eachtask, .prog-dark .eachtask, .timer-dark .eachtask, .scribble-dark .eachtask {
  background-color: #0E1525;
  box-shadow: 0px 2px 5px 0px #000;
}
.tasks-dark .feather, .board-dark .feather, .prog-dark .feather, .timer-dark .feather, .scribble-dark .feather {
  stroke: #fff;
}

.credit-dark, .logotext1-dark {
  color: #fff;
}

.tasks-light, .board-light, .prog-light, .timer-light, .scribble-light {
  box-shadow: 0px 2px 5px 0px #888888;
  margin: 0.4em;
  border-radius: 11px;
  background-color: white;
  background-color: #ffffff;
}

.logotext, .meeting {
  margin: 0;
  padding: 0.3rem;
}

.appbar {
  grid-area: appbar;
}
.appbar .logo, .appbar .appbar-bttn {
  display: inline-block;
}
.appbar .appbar-bttn {
  float: right;
}
.appbar .mebttn, .appbar .themebttn {
  background-color: #73BC67;
  margin: 7px;
  border: 0;
  padding: 3px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.navbar {
  box-shadow: 0px 2px 5px 0px #888888;
  margin: 0.4em;
  border-radius: 11px;
  background-color: white;
  grid-area: navbar;
  display: grid;
  grid-template-columns: 95% 5%;
  text-align: center;
  background-color: #73BC67;
}
.navbar .sharebttn {
  float: right;
  padding: 5px;
  text-align: center;
  margin: 2px;
  border: 0;
  background: none;
}
.navbar div {
  text-align: center;
  margin: 0;
}

.prog {
  grid-area: prog;
}

.timer {
  grid-area: timer;
}

.scribble {
  grid-area: scribble;
}

.footie {
  grid-area: footie;
  border: 0;
}

.credit {
  grid-area: credit;
  text-align: center;
  margin: 1rem;
  margin-bottom: 0.5rem;
}

.chatbttn {
  width: 60px;
  height: 60px;
  background: #73BC67;
  border-radius: 50%;
  border: 1px solid #000;
  font-size: 40px;
  line-height: 60px;
  color: white;
  text-align: center;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  transition: all 0.1s ease-in-out;
}

.chatbttn:hover {
  transform: scale(1.05);
}

.modalbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 60%;
}

.msg {
  box-shadow: 0px 5px 15px 0px #888888;
  border-radius: 11px;
  padding: 0.3em;
  overflow: auto;
  padding-top: 2.5rem;
}

.msg {
  border-radius: 11px;
  background-color: white;
  overflow: auto;
  width: 90vw;
  height: 55vh;
  padding-top: 2.5rem;
}

.quitmodal, .sharemodal {
  box-shadow: 0px 2px 5px 0px #888888;
  margin: 0.4em;
  border-radius: 11px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 20vh;
  padding: 1rem;
}

@media screen and (min-width: 780px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1 fr 1fr;
    grid-template-columns: 0.1fr 0.5fr 1fr 0.1fr;
    grid-template-areas: "appbar appbar appbar appbar" "navbar navbar navbar navbar" ". left-container right-container ." "footie footie footie footie" "credit credit credit credit";
  }

  .left-container {
    grid-area: left-container;
    display: grid;
    grid-template-rows: 1fr;
    grid-area: "tasks";
  }

  .right-container {
    grid-area: right-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "prog timer" "scribble scribble";
  }

  .tasks {
    max-height: 583.59px;
  }

  .modalbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
  }

  .msg {
    border-radius: 11px;
    background-color: white;
    overflow: auto;
    width: 60vw;
    height: 55vh;
    padding-top: 2.5rem;
  }

  .quitmodal, .sharemodal {
    box-shadow: 0px 2px 5px 0px #888888;
    margin: 0.4em;
    border-radius: 11px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 15vh;
  }
}

/*# sourceMappingURL=offlineHome.css.map */
